        html {

          /* font-family: 'Cabin', sans-serif;*/
          font-family: 'Nanum Gothic', sans-serif; 

        }

      .wrapper {
          width: 20%;
          margin: auto;
          align-items: center;
      }

      .Cards{
        flex-flow: row wrap;
        display: flex;
        flex-direction: row-reverse;
        flex: 1 auto;
        justify-content: flex-start;
        padding: 10px;
        margin-top: 10px;
      }
        
      .Card {
        margin: 15px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border: 2px solid brown;  
        border-radius: 5px; 
        width: 100px;
        height: 200px;
      }

      .delBut {
        display: none;
        margin: auto;
    }
        
    .Cards a:hover .delBut {
        display: block;
    }