  html {

    /* font-family: 'Cabin', sans-serif;*/
    font-family: 'Nanum Gothic', sans-serif; 

  }

.wrapper {
    width: 100%;
    margin: auto;
    align-items: center;
}

.date p {
  font-size: 15;
}

canvas {
  margin: auto;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}