  html {

    /* font-family: 'Cabin', sans-serif;*/
    font-family: 'Nanum Gothic', sans-serif; 

  }

.wrapper {
    /* margin: auto; */
    align-items: center;
    text-align: center;
    width: 100%;
}



.inputs{
  padding: 10px;
  margin-top: 10px;

}

.Fibonachi-form {
  width: 80%;
  margin-bottom: 15px;
}

.slidecontainer {
  margin: 10px 10px 10px 10px;
}

.trianglePyramid {
  /* display: block; */
  margin: auto;
  background-color: blue;
  width: 100vw;
  height: 100vh;
}

